@media only screen and (min-width:32.5em){
    
    .hero {
        display: block;
        height: 500px;
        background-image: url(/lesson6/images/hero-image-medium.jpg);
        background-size: cover;
        padding: 10px;
    
    }
}

