nav {
    background-color:#e6ecf2;
}

nav ul {
    display:flex;
    margin:0px;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-evenly;
    border: 0px;
    margin-right: 8.5em;
    padding-bottom: 1em;
    margin-top: .5em;
}

nav a {
    color: black;
    font-family: 'Monteserrat', sans-serif;
    text-decoration: none;
}

body {
    font-family: 'Monteserrat', sans-serif;
    background-color:#93b7be;
    margin: 0px;
}

li {
    padding-top: 1em; padding-bottom: 1em;
}

h1 {
    max-width: 500px;
    margin-top: 1em;
    margin-left: 7.75em;
    margin-bottom: 1em;
    font-size: 3.5em;
    font-weight: bold;
}

p{
    font-weight: 125;
}

a:hover {
    border-bottom-style: solid;
    border-bottom-color:#7a9e9f;
}

section{
    /* margin:0px; */
    background-color:#e6ecf2;
    margin: auto;
}

img{
    max-width: 500px;
    margin:auto;
}

footer {
    margin: auto;
    max-width: 500px;
}
table {
    max-width: 500px;
    margin: auto;
}

.logo {
    max-width: 100px;
}

.textalign{
    text-align: center;
    padding: 40px;  
}


.title {
    font-family: 'Special Elite', cursive;
    margin: 0 auto;
    margin-top: 1em;
    margin-left: 8.8em;
    margin-bottom: .25em;
}

.herosum {
    background-color:#e6ecf2 ;
    width: 500px;
    margin:15px;

}

.forecast {
    max-width: 500px;
    margin:auto;
    padding:10px;
    margin-bottom: 15px;
}

.article {
    max-width: 500px;
    margin: auto;
    padding:10px;
    margin-bottom: 15px;
}

.contact {
    padding:10px;
    margin-bottom:15px;
}


#personas {
   margin-bottom: 1em;
}
#content {
    margin: auto;
    max-width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#grid {
    display: grid;
}

#logo{
    max-width: 50px;
    margin-left:43em;
    margin-top: 0em;
}
 
