nav {
    background-color:#e6ecf2;
}

nav ul {
    display:flex;
    margin:0px;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-evenly;
    border: 0px;
    margin-right: 8.5em;
    padding-bottom: 1em;
    margin-top: .5em;
}

nav a {
    color: black;
    font-family: 'Monteserrat', sans-serif;
    text-decoration: none;
}

body {
    font-family: 'Monteserrat', sans-serif;
    background-color:#93b7be;
    margin: 0px;
}

li {
    padding-top: 1em; padding-bottom: 1em;
}

h1 {
    margin-bottom: 1.5em;
    font-size: 3.5em;
    font-weight: bold;
}

p{
    font-weight: 125;
}

a:hover {
    border-bottom-style: solid;
    border-bottom-color:#7a9e9f;
}

section{
    margin:0px;
    background-color:#e6ecf2;
   box-sizing: border-box;
}

img{
    max-width: 500px;
}

.logo {
    max-width: 100px;
}

.textalign{
    padding: 15em;
    padding-bottom: 1em;
    padding-top: 3em;
}

.title {
    font-family: 'Fredoka One', cursive;
}

#grid {
    display: grid;
}

#logo{
    width: 50px;
}
