nav {
    background-color:#e6ecf2;
}

nav ul {
    display:flex;
    margin:0px;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-evenly;
    border: 0px;
    margin-right: 8.5em;
    padding-bottom: 1em;
    margin-top: .5em;
}

nav a {
    color: black;
    font-family: 'Monteserrat', sans-serif;
    text-decoration: none;
}

body {
    font-family: 'Monteserrat', sans-serif;
    background-color:#83AD9E;
    margin: 0px;
}

nav li {
    padding-top: 1em; padding-bottom: 1em;
}

h1 {
    max-width: 500px;
    margin-top: 1em;
    margin-left: 7.75em;
    margin-bottom: 1em;
    font-size: 3.5em;
    font-weight: bold;
}

p{
    font-weight: 125;
}

a:hover {
    border-bottom-style: solid;
    border-bottom-color:#3E6857;
}

section{
    /* margin:0px; */
    background-color:#e6ecf2;
    margin:1em;
    
}

img{
   /* max-width: 500px;
    margin:auto;*/
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin: auto;
    max-width: 500px;
}
table, tr, th, td {
    max-width: 500px;
    margin: auto;
    border: 2px solid #3E6857;
    border-collapse: collapse;
    padding:5px;
    font-size: 12px;
}

th {
    display: table-cell;
    vertical-align: inherit;
}

/* class selectors */

.logo {
    max-width: 100px;
}

.textalign{
    text-align: center;
    padding: 40px;  
}

.title {
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding-bottom: 0.1em;
}

.storm {
    margin: 5px;
    padding: 5px;
    display: block;
}

.forecast {
    max-width: 500px;
    margin: auto;
    padding:10px;
    text-align: center;
}

.article {
    background-color:#e6ecf2 ;
    padding:10px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact {
    padding:10px;
    margin-bottom:15px;
}

.hero {
    display: block;
    height: 350px;
    background-image: url(/lesson11/images/prestonhero.jpg);
    background-size: cover;
    padding: 10px;
   

}

.articleinfo {
    grid-column: 1/2;
    grid-column-start: 1;
    grid-column-end: 2;
  
}

.article_title {
    margin: 10px;
}

.contactaddress{
   margin-left: 100px;
   margin-bottom: 50px;
}

.contact-title {
    text-align: center;
}


/*id selectors*/

#summary {
    background-color:#e6ecf2 ;
    opacity: 80%;
    max-width: 200px;
    height:auto;
    margin:15px;
    padding: 5px 15px 15px 15px;
    font-size: 13px;
    border-radius: 8px;

}

#personas {
   margin-bottom: 1em;
}
#content {
    margin: auto;
    max-width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#grid {
    display: grid;
}

#logo {
    max-width: 50px;
     margin-left:43em;
     margin-top: 0em;
 }

/*#article_img {
    width: 84%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}*/

#tagline {
    max-width: 500px;
    margin-left: 550px;
    padding-bottom: 0.5em;
}
 
#events {
    text-align: center;
    list-style: none;
    padding-top: 0px;
    padding-bottom: 1em;

}

#eventstitle {
    text-align: center;
    padding-bottom: 0px;
}

#pancakes {
    text-align: center;
    color: rgb(150, 7, 50);
}