 h1 {
    text-align: center;
}
h1 {
    max-width: 400px;
    margin: auto;
    font-family: 'Shadows Into Light', cursive;
    padding-top: 50px;

}
#thanks {
    padding: 65px;
   margin: auto;
    max-width: 200px;
    background-color:#e6ecf2;
    border-radius: 25px;
}
footer {
   margin-top: 400px;
   align-content: center;
}
#tagline {
    max-width: 500px;
    margin-left: 550px;
    padding-bottom: 0.5em;
}